/* Core and Top Layouts */
body {
    text-size-adjust: 100%;
}
header {
    width: 100%;
}
section, #content{
    margin: 1em 0em;
}
#star {
    width: 5%;
}
@media screen and (max-width: 320px) {
    nav {
        font-size: 75%;
    }
}
@media screen and (max-width: 426px) {
    #star {
        width: 25%;
    }
    #bottomDivider {
        font-size: 75%;
    }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
    #star {
        width: 10%;
    }
}
/* Image Styles */
.logo {
    margin: 0.25em 0.5em;
}
#content {
    width: 100%;
}
.payType {
    margin: 0.25em 0em;
}
.photo {
    margin: 1em 0em;
    border-radius: 25%;
}
#mastercard {
    width: 4em;
}
/* Calendar Styles */
label {
    margin-right: 1em;
}
#date {
    margin-bottom: 1em;
}
.empty {
    opacity: 0;
}
.ticket {
    text-align: center;
    margin: 1em 0em;
}
/* Cart Styles */
#cart1, #cart2 {
    background-color: black;
    margin: 0;
}
#centerArea, #centerArea2 {
    background-color: white;
}
.details {
    float: right;
}
form h3 {
    margin-top: 1em;
}
#emailInput {
    width: 20%;
}
#input-cc {
    width: 50%;
}
#input-cc-cvc, #input-cc-date {
    width: 25%;
}
.buttonGroup {
    margin: 1.5em;
}
.buttonGroup button {
    margin: 1em;
}